<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <!-- här skapar vi våra services/tänster -->
      <!-- namnet heter alltså namespace.namnPåService -->
      <service name="WcfServiceDemo.Service1" behaviorConfiguration="myBehavior">
        <host>
          <baseAddresses>
            <!-- Hela servicen kommer att exponeras via denna adress + endpointens adress -->
            <add baseAddress="http://localhost:8733" />
            <add baseAddress="net.tcp://localhost:8080" />
          </baseAddresses>
        </host>
        <!-- unik endpoint för webben: -->
        <endpoint address="httpService" binding="basicHttpBinding" contract="WcfServiceDemo.IService1"></endpoint>
        <!-- unik endpoint för webben: -->
        <endpoint address="netTcpService" binding="netTcpBinding" contract="WcfServiceDemo.IService1"></endpoint>
        <!-- för att kunna utbyta data med klienten och visa ovanstående endpoints så behöver vi en mexhttp-binding som kan generera en proxy till klienter --> 
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
    </services>
  <behaviors>
    <serviceBehaviors>
      <behavior name="myBehavior">
        <serviceMetadata httpGetEnabled="true"/>
      <!-- Nu kan vi använda http-request för de tjänster som kopplas med detta behavior -->
      </behavior>
    </serviceBehaviors>
  </behaviors>
  </system.serviceModel>
</configuration>