<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICalculateBmi" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/EcUtbildning.CalculateBmi/CalculateBmiService"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculateBmi"
          contract="ICalculateBmi" name="WSHttpBinding_ICalculateBmi">
        <identity>
          <userPrincipalName value="MONTA\philip" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>