<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICalculateThousandDays" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/EcUtbildning.ThousandDays/CalculateThousandDaysService"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculateThousandDays"
          contract="ICalculateThousandDays" name="WSHttpBinding_ICalculateThousandDays">
        <identity>
          <userPrincipalName value="MONTA\philip" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>